{% extends 'base.html' %}

{% block content %}
    <style>
        html, body, #map-canvas { height: 100%; margin: 0; padding: 0;}
    </style>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <div class="row">
        <div class="col-sm-8">
            <div id="map-canvas"></div>
        </div>
        <div class="col-sm-4">
            <h2>Properties</h2>
            <a href="{% url 'properties:add' %}" class="btn btn-primary">Add property</a>
            <hr>
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody>
                    {% for property in properties %}
                        <tr>
                            <td><a href="{% url 'properties:edit' property.pk %}">{{ property.name }}</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <h2>Markers</h2>
            <a href="{% url 'markers:add' %}" class="btn btn-primary">Add marker</a>
            <hr>
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody>
                    {% for marker in markers %}
                        <tr>
                            <td><a href="{% url 'markers:edit' marker.pk %}">{{ marker.name }}</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <script type="text/javascript">
        var markers = {{ markers_json|safe }};

        function initialize() {
            var mapOptions = {
                center: {lat: -34.397, lng: 150.644},
                zoom: 8
            };
            var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions),
                geocoder = new google.maps.Geocoder(),
                bounds = new google.maps.LatLngBounds ();

            // add all the pins
            markers.forEach(function (p) {
                if (p.address) {
                    geocoder.geocode({'address': p.address}, function(results, status) {
                        if (status == google.maps.GeocoderStatus.OK) {
                            var marker = new google.maps.Marker({
                                map: map,
                                position: results[0].geometry.location
                            });
                            bounds.extend(marker.position);
                            map.fitBounds(bounds);
                        } else {
                            console.log("Geocode was not successful for the following reason: " + status);
                        }
                    });
                } else if (p.lat && p.long) {
                    var marker = new google.maps.Marker({
                        map: map,
                        position: new google.maps.LatLng(p.lat, p.long),
                        icon: new google.maps.MarkerImage("https://maps.google.com/mapfiles/ms/icons/blue.png")
                    });
                    bounds.extend(marker.position);
                    map.fitBounds(bounds);
                }
            })
        }
        google.maps.event.addDomListener(window, 'load', initialize);
    </script>
{% endblock %}